#email-body {
    padding:0px;
    line-height:1px;
    font-size:1px;
    margin:0px auto;
    text-align: center;
}

.line-break {
    padding:0px;
    margin:0px auto;
    font-size:0px;
    line-height:1px;
    padding:0px
}

.content {
    padding:0px;
    margin:0px auto;
    font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;
    font-size:16px;
    padding:0px;
    margin:0px;
    font-weight:normal;
    line-height:20px;
    font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;
    font-size:16px;
    padding:0px;
    margin:0px;
    font-weight:normal;
    line-height:22px;
    text-align: left;
}

.bold {
    font-size:24px;
    padding:0px;
    margin:0px;
    font-weight:bold;
    line-height:32px;
}

.image {
    margin:0px;
    padding:0px;
    border:none;
    outline:none;
    text-align: center;
}